.body {
    color: white;
    background-image: url("../images/back.jpg");
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}
.jumbotron{
background:none;

	}